{%  extends 'base.html' %}
{% block title %}
    <a class="navbar-brand" href="#"> 配送申请信息 </a>
{% endblock %}

{% block write %}
    {% if current_user.stafftype=='管理员' %}
    <li>
    <a href="{{ url_for('auth.staff_add') }}" class="btn btn-simple btn-info btn-icon like" data-toggle="dropdown">
        批量配送
    </a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
        <div class="content">
        <h4 class="title">申请信息</h4>
        <div class="toolbar">

            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <form method="post">
                查询方式
                <select name="info" required>
                    <option value="requestid">请求编号</option>
                </select>
                <input type="text" name="date" autocomplete="off" required> 
                <input type="submit" name="submit" value="查询">
            </form>

        </div>
        {% if info == 'requestid'%}
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover"
                       style="width:100%;cellspacing:0">
                    <thead>
                    <tr>
						<th>配送请求编号</th>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        {% if current_user.stafftype=='管理员'%}
                            <th>请求商店编号</th>
                            <th>请求商店名称</th>
                            <th>请求商店地址</th>
                        {% endif %}
                        <th>请求数量</th>
                        <th>预付款</th>
                        <th>请求时间</th>
                        <th>配送数量</th>
                        <th>处理时间</th>
                        <th>处理状态</th>
                        {% if current_user.stafftype=='管理员'%}
                            <th>收货状态</th>
                        {% endif %}
                        <th class="disabled-sorting text-right">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if current_user.stafftype=='管理员'%}
                        <tr>
                            <td>{{ requests.id }}</td>
                            <td>{{ requests.requeststorgeid }}</td>
                            <td>{{ requests.requeststorgename.storgename }}</td>
                            <td>{{ requests.requeststorgename.storgevalue }}</td>
                            <td>{{ requests.requeststoreid }}</td>
                            <td>{{ requests.requeststorename.storename }}</td>
                            <td>{{ requests.requeststorename.storeplace }}</td>
                            <td>{{ requests.requestnumber }}</td>
                            <td>{{ requests.requestnumber*requests.requeststorgename.storgevalue }}</td>
                            <td>{{ requests.requesttime }}</td>
                                {% if requests.requeststatus==0 %}
                                    <td>未处理</td>
                                    <td>未处理</td>
                                    <td>未处理</td>
                                    <td>未处理</td>
                                {% else %}
                                    <td>{{ requests.requestdealnumber}}</td>
                                    <td>{{ requests.requestdealtime }}</td>
                                    <td>已处理</td>
                                     {% if requests.deliverstatus==0 %}
                                    <td>待收货</td>
                                     {% endif %}
                                     {% if requests.deliverstatus==1 %}
                                        <td>已收货</td>
                                     {% endif %}
                                     {% if requests.deliverstatus==2 %}
                                        <td>退货</td>
                                     {% endif %}
                                    {% endif %}
                            {% if requests.requeststatus==0 %}
                                <td class="text-right">
                                    <form  method="post" action="{{ url_for('auth.request_answer',requestid=requests.id) }}">
                                        <a href="{{ url_for('auth.request_answer',requestid=requests.id) }}"
                                   class="btn btn-simple btn-info btn-icon like">配送</a>
                                    </form>
                                </td>
                            {% elif requests.requeststatus==1 and requests.deliverstatus!=0%}
                                <td class="text-right">
                                <form  method="post" action="{{ url_for('auth.request_delete',requestid=requests.id) }}">
                                    <input name="delete" type="submit" value="删除记录" onclick="return confirm('确认删除此记录？')" class="btn btn-simple btn-danger btn-icon remove">
                                </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% elif current_user.stafftype=='商店经理'%}
                        <tr>
                            {%  if current_user.staffworkplace==requests.requeststoreid %}
                                <td>{{ requests.id }}</td>
                                <td>{{ requests.requeststorgeid }}</td>
                                <td>{{ requests.requeststorgename.storgename }}</td>
                                 <td>{{ requests.requeststorgename.storgevalue }}</td>
                                <td>{{ requests.requestnumber }}</td>
                                <td>{{ requests.requestnumber*requests.requeststorgename.storgevalue }}</td>
                                <td>{{ requests.requesttime }}</td>
                                {% if requests.requeststatus==0 %}
                                    <td>未处理</td>
                                    <td>未处理</td>
                                    <td>未处理</td>
                                {% else %}
                                    <td>{{ requests.requestdealnumber}}</td>
                                    <td>{{ requests.requestdealtime }}</td>
                                    <td>已处理</td>
                                {% endif %}
                             {% if request.requeststatus==0 %}
                                <td class="text-right">
                                <form  method="post" action="{{ url_for('auth.request_back',requestid=requests.id) }}">
                                    <input name="delete" type="submit" value="撤回申请" onclick="return confirm('确认撤回此请求？')" class="btn btn-simple btn-danger btn-icon remove">
                                </form>
                                </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                    </tbody>

                </table>
            </div>
        {% else %}

                <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover"
                           style="width:100%;cellspacing:0">
                        <thead>
                        <tr>
                           <th>配送请求编号</th>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>商品单价</th>
                            {% if current_user.stafftype=='管理员'%}
                                <th>请求商店编号</th>
                                <th>请求商店名称</th>
                                <th>请求商店地址</th>
                            {% endif %}
                            <th>请求数量</th>
                            <th>预付款</th>
                            <th>请求时间</th>
                            <th>配送数量</th>
                            <th>处理时间</th>
                            <th>处理状态</th>
                            {% if current_user.stafftype=='管理员'%}
                                <th>收货状态</th>
                            {% endif %}
                            <th class="disabled-sorting text-right">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if current_user.stafftype=="管理员" %}
                            {% for request in requests %}
                            <tr>
                                <td>{{ request.id }}</td>
                                <td>{{ request.requeststorgeid }}</td>
                                <td>{{ request.requeststorgename.storgename }}</td>
                                <td>{{ request.requeststorgename.storgevalue }}</td>
                                <td>{{ request.requeststoreid }}</td>
                                <td>{{ request.requeststorename.storename }}</td>
                                <td>{{ request.requeststorename.storeplace }}</td>
                                <td>{{ request.requestnumber }}</td>
                                <td>{{ request.requestnumber*request.requeststorgename.storgevalue }}</td>
                                <td>{{ request.requesttime }}</td>
                                {% if request.requeststatus==0 %}
                                <td>未处理</td>
                                <td>未处理</td>
                                <td>未处理</td>
                                <td>未处理</td>
                                {% else %}
                                    <td>{{ request.requestdealnumber}}</td>
                                    <td>{{ request.requestdealtime }}</td>
                                    <td>已处理</td>
                                      {% if request.deliverstatus==0 %}
                                    <td>待收货</td>
                                     {% endif %}
                                     {% if request.deliverstatus==1 %}
                                        <td>已收货</td>
                                     {% endif %}
                                     {% if request.deliverstatus==2 %}
                                        <td>退货</td>
                                     {% endif %}
                                {% endif %}
                            {% if request.requeststatus==0 %}
                                <td class="text-right">
                                <form  method="post" action="{{ url_for('auth.request_answer',requestid=request.id) }}">
                                    <a href="{{ url_for('auth.request_answer',requestid=request.id) }}"
                                   class="btn btn-simple btn-info btn-icon like">配送</a>
                                </form>
                                </td>
                             {% elif request.requeststatus==1 and request.deliverstatus!=0%}
                                <td class="text-right">
                                <form  method="post" action="{{ url_for('auth.request_delete',requestid=request.id) }}">
                                    <input name="delete" type="submit" value="删除记录" onclick="return confirm('确认删除此记录？')" class="btn btn-simple btn-danger btn-icon remove">
                                </form>
                                </td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                         {% elif current_user.stafftype=="商店经理" %}
                            {% for request in requests %}
                                {%if current_user.staffworkplace==request.requeststoreid%}
                                <tr>
                                    <td>{{ request.id }}</td>
                                    <td>{{ request.requeststorgeid }}</td>
                                    <td>{{ request.requeststorgename.storgename }}</td>
                                     <td>{{ request.requeststorgename.storgevalue }}</td>
                                    <td>{{ request.requestnumber }}</td>
                                     <td>{{ request.requestnumber*request.requeststorgename.storgevalue }}</td>
                                   <td>{{ request.requesttime }}</td>
                                {% if request.requeststatus==0 %}
                                <td>未处理</td>
                                <td>未处理</td>
                                <td>未处理</td>
                                {% else %}
                                    <td>{{ request.requestdealnumber}}</td>
                                    <td>{{ request.requestdealtime }}</td>
                                    <td>已处理</td>
                                {% endif %}
                                 {% if request.requeststatus==0 %}
                                <td class="text-right">
                                <form  method="post" action="{{ url_for('auth.request_back',requestid=request.id) }}">
                                    <input name="delete" type="submit" value="撤回申请" onclick="return confirm('确认撤回此请求？')" class="btn btn-simple btn-danger btn-icon remove">
                                </form>
                                </td>
                                {% endif %}
                                </tr>
                                {%endif%}
                            {% endfor %}
                        {% endif %}
                        </tbody>

                    </table>
                </div>


        {% endif %}
    </div>
{% endblock %}